<!--
  -- Auriel Wish
  -- Trial Project: Summer 2024 Internship
  --
  -- index.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trial Project</title>
    <style>
        html {
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        .choose_num_args {
            font-size: 30px;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            color: rgb(0, 36, 91);
            width: 30%;
            margin: auto;
            cursor: pointer;
        }

        #form_container {
            margin-right: auto;
            margin-left: auto;
            padding: 40px;
            border-radius: 10px;
            background-color: rgb(152, 193, 255);
            width: 80%;
            color: white;
            box-shadow: 1px 1px 10px rgba(211, 211, 211, 0.701);
        }

        .model {
            font-size: 25px;
            color: rgb(0, 36, 91);
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
        }

        td {
            vertical-align: top;
            width: 50%;
            padding: 10px;
        }

        textarea {
            border: 1px solid rgb(0, 36, 91);
            border-radius: 10px;
            width: 90%;
            padding: 10px;
        }

        button {
            background-color: rgb(91, 129, 187);
            border-radius: 10px;
            transition: 0.15s;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            font-size: 30px;
            padding: 10px;
            color: white;
        }

        button:hover {
            background-color: rgb(0, 36, 91);
        }
    </style>
</head>

<body>
    <h1>Argument Analyzer</h1>

    <!-- Choose which model to use -->
    <div style="text-align: center; width: 100%; margin-bottom: 20px;">
        <label class="model">
            <input type="radio" name="model" value="premade"> Premade HuggingFace Model
        </label>
        <label class="model">
            <input type="radio" name="model" value="IBM"> IBM Set Trained Model
        </label>
    </div>

    <!-- Get user argument -->
    <div id="form_container">
        <table style="width: 100%; margin-bottom: 30px;">
            <tr style="text-align: center;">
                <td><span class="choose_num_args">One Argument</span></td>
                <td><span class="choose_num_args">Two Arguments</span></td>
            </tr>
        </table>
        <div id="one_arg">
            <form id="arg_form1">
                <label for="user_argument1" style="font-size: 25px">Argument:</label>
                <br><br>
                <textarea id="user_argument1" rows="5" style="width: 100%;" required></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>

            <p id="summary1"></p>
            <h2 id="output1"></h2>
            <p id="qualitative1"></p>
            <p id="arg_breakdown1"></p>
            <p id="feedback1"></p>
        </div>
        <form id="two_arg">
            <table style="width: 100%">
                <tr>
                    <td>
                        <label for="user_argument2" style="font-size: 25px">Argument 1:</label>
                        <br><br>
                        <textarea id="user_argument2" rows="5" required></textarea>
                        <br>

                        <p id="summary2"></p>
                        <h2 id="output2"></h2>
                        <p id="qualitative2"></p>
                        <p id="arg_breakdown2"></p>
                    </td>
                    <td>
                        <label for="user_argument3" style="font-size: 25px">Argument 2:</label>
                        <br><br>
                        <textarea id="user_argument3" rows="5" required></textarea>
                        <br>

                        <p id="summary3"></p>
                        <h2 id="output3"></h2>
                        <p id="qualitative3"></p>
                        <p id="arg_breakdown3"></p>
                    </td>
                </tr>
            </table>
            <div id="comparison" style="margin: auto; text-align: center; width: 60%"></div>
            <button type="submit">Compare</button>
        </form>
    </div>

    <script>
        // Choose whether to evaluate 1 argument or compare 2 arguments
        const num_args = document.querySelectorAll(".choose_num_args");
        num_args.forEach((element) => {
            element.addEventListener("click", function () {
                if (this.innerHTML == "One Argument") {
                    document.getElementById("one_arg").style.display = "block";
                    document.getElementById("two_arg").style.display = "none";
                }
                else {
                    document.getElementById("one_arg").style.display = "none";
                    document.getElementById("two_arg").style.display = "block";
                }

                num_args.forEach((el) => {
                    el.style.opacity = 0.5;
                });

                this.style.opacity = 1;
            });
        });
        num_args[0].click();

        // Initially choose premade model
        (document.querySelectorAll('input[name="model"]'))[0].checked = true;

        // Classification to help interpret results from models
        const argument_quality = {0: "Bad", 20: "Poor", 40: "Okay", 60: "Good", 80: "Great", 100: "Excellent"};
        const arg_eval_meaning = {
            "No-Relation": "parts of your argument are unrelated",
            "Inference": "parts of your argument are used to support or justify the other",
            "Conflict": "propositions in your argument have contradictory information",
            "Rephrase": "parts of your argument are equivalent from an argumentative point of view"
        }

        // Rounding function
        function round_to_nearest_20(number, increment) {
            return Math.round(number / increment) * increment;
        }

        // Submit argument to backend and retrieve results
        document.getElementById("arg_form1").addEventListener("submit", async function (e) {
            e.preventDefault();
            set_loading("1");
            user_argument = await summarize("1");
            all_tasks("1", user_argument);
        });
        document.getElementById("two_arg").addEventListener("submit", async function (e) {
            e.preventDefault();
            set_loading("2");
            set_loading("3");

            let user_argument2, user_argument3;

            // Make sure that functinos run in order so the user arguments are ready for comapre function
            summarize("2").then(async (result2) => {
                user_argument2 = result2;
                await all_tasks("2", user_argument2);
            }).then(() => summarize("3"))
            .then(async (result3) => {
                user_argument3 = result3;
                await all_tasks("3", user_argument3);
            }).then(() => {
                compare(user_argument2, user_argument3);
            }).catch(error => {
                console.error(error);
            });
        });

        // summarize the input if it is too long
        async function summarize(form_number) {
            const user_argument = document.getElementById("user_argument" + form_number).value;

            const response = await fetch("/summarize_arg", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: `user_argument=${encodeURIComponent(user_argument)}`
            })

            const data = await response.json();
            if (data[1]) {
                document.getElementById("summary" + form_number).innerHTML = '<strong style="color: black">Input was too long. Summarized argument to:</strong><br>' + data[0];
            }

            return data[0];
        }

        // Signal to user that their argument is being processed
        function set_loading(form_number) {
            document.getElementById("output" + form_number).innerHTML = "Analyzing...";
            document.getElementById("qualitative" + form_number).innerHTML = "[Quality loading]";
            document.getElementById("arg_breakdown" + form_number).innerHTML = "[Breakdown loading]";
            document.getElementById("summary" + form_number).innerHTML = "";
            if (form_number == "1") {
                document.getElementById("feedback" + form_number).innerHTML = "[Feedback loading]";
            }
            else {
                document.getElementById("comparison").innerHTML = "[Comparison loading]";
            }
        }

        // Choose which model to use and call fetch
        async function all_tasks(form_number, user_argument) {
            // Choose which model to use
            fetch_link = "";
            if ((document.querySelectorAll('input[name="model"]'))[0].checked) {
                fetch_link = "/get_analysis_premade";
            }
            else {
                fetch_link = "/get_analysis_IBM";
            }

            await fetch_in_order(user_argument, fetch_link, form_number);
        }

        // First get analysis that takes less time, then get feedback
        // that takes more time
        async function fetch_in_order(user_argument, fetch_link, form_number) {
            var quality;

            // Base level analysis request
            const response = await fetch(fetch_link, {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: `user_argument=${encodeURIComponent(user_argument)}`
            })
            const data = await response.json();

            // Output argument quality
            quality = data[0];
            document.getElementById("output" + form_number).innerHTML = "Argument Score: " + quality + "/1";
            document.getElementById("qualitative" + form_number).innerHTML = "This argument is: " + argument_quality[round_to_nearest_20(quality * 100, 20)];

            // Output argumeny attributes
            evals = data[1];
            eval_string = "<strong>Your argument contains:</strong><br><ul>";
            for (var i = 0; i < evals.length; i++) {
                if (evals[i]['score'] > 0.15) {
                    eval_string += ("<li>" + evals[i]['label'] + " - " + arg_eval_meaning[evals[i]['label']] + "</li>");
                }
            }
            eval_string += "</ul>"
            document.getElementById("arg_breakdown" + form_number).innerHTML = eval_string;


            // In depth feedback occurs after because it takes a lot longer
            if (form_number == "1") {
                console.log("Getting in depth feeback")
                const response2 = await fetch("/in_depth", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: `user_argument=${encodeURIComponent(user_argument)}&arg_qual=${encodeURIComponent(quality)}`
                })
                const data = await response2.json();
                document.getElementById("feedback" + form_number).innerHTML = "<strong>Feedback:</strong><br>" + data;
            }
        }

        // Compare the 2 inputted arguments
        async function compare(user_argument2, user_argument3) {
            console.log("Getting comparison")
            const response = await fetch("/get_comparison", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: `user_argument2=${encodeURIComponent(user_argument2)}&user_argument3=${encodeURIComponent(user_argument3)}`
            });
            data = await response.json();

            document.getElementById("comparison").innerHTML = "<strong>Comparison:</strong><br>" + data;
        }
    </script>
</body>

</html>